@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
    scroll-behavior: smooth;
}


h1, p {
    margin: 0;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    position: relative;
    width: 100px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #000;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-left: 40px;
    text-decoration: none;
}

.menu-content {
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-text {
    margin: 0px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}

.menu-text h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
    
    color: #000000;
}

.menu-cards {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.menu-container .card {
    position: relative;
    width: 250px;
    height: 260px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.8),
                inset -5px -5px 15px rgba(255, 255, 255, 0.7),
                5px 5px 15px rgba(0, 0, 0, 0.9),
                -5px -5px 15px rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    margin: 30px;
}

.menu-container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #000;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container .card .box:hover {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.content {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.card-img {
    position: absolute;
    width: 134px;
    height: 155px;
}

.card-data {
    transform: translateY(13.2rem);
    margin: 0;
    padding: 0;
    text-align: center;
}

.card-title,
.card-brabo,
.card-mec,
.card-gigabig,
.card-chicken,
.card-meatball,
.card-eggman {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0.5rem;
    opacity: 0;
}

.card-price {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    opacity: 0;
}

.card-text {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 1.25rem;
    opacity: 0;
}

.card-img,
.card-data,
.card-title,
.card-price,
.card-text {
    transition: 0.5s;
}

.content:hover {
    overflow: visible;
}

.content:hover .card-img {
    transform: translate(-1.5rem, -5.7rem);
}

.content:hover .card-data {
    transform: translateY(1.8rem);
}

.content:hover .card-brabo {
    transform: translateX(-3.0rem);
    margin-bottom: 0;
    opacity: 1;
}

.content:hover .card-mec {
    transform: translateX(-4.5rem);
    margin-bottom: 0;
    opacity: 1;
}

.content:hover .card-gigabig {
    transform: translateX(-3.3rem);
    margin-bottom: 0;
    opacity: 1;
}

.content:hover .card-chicken {
    transform: translateX(-1.2rem);
    margin-bottom: 0;
    opacity: 1;
}

.content:hover .card-meatball {
    transform: translateX(-2.7rem);
    margin-bottom: 0;
    opacity: 1;
}

.content:hover .card-eggman {
    transform: translateX(-2.9rem);
    margin-bottom: 0;
    opacity: 1;
}

.content:hover .card-price {
    transform: translateX(-4.5rem);
    opacity: 1;
}

.content:hover .card-text {
    transition-delay: 0.2s;
    opacity: 1;
}

.footer {
    height: 312px;
    background: #000000;
}

.footer h3 {
    margin-top: 74px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    
    color: #FFF;
}

.footer ul {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.footer ul li {
    list-style: none;
    margin: 0 40px;
}

.footer ul li a .fab {
    font-size: 45px;
    color: #000;
    line-height: 80px;
    transition: 0.5s;
}

.footer ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(255, 255, 255, 0.5);
    
}

.footer ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.footer ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.footer ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(255, 255, 255, 0.5);
}

@media(max-width: 1400px) {
    header a img {
        width: 70px;
    }

    header ul li a {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }

    .menu-text h1 {
        font-size: 48px;
        line-height: 90px;
    }

}
