<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Burger</title>

    <link rel="stylesheet" href="../style/home.css">
</head>
<body>
    <section>
        <div class="circle"></div>

        <header class="main-header">
            <a href="main.html"><img src="../assets/burger-icon.png" alt="icone"></a>

            <ul class="navigation">
                <li><a href="home.html">Home</a></li>
                <li><a href="new.html">Novidades</a></li>
                <li><a href="menu.html">Cardápio</a></li>
                <li><a href="menu.html#footer">Contatos</a></li>
            </ul>
        </header>

        <div class="home-content">

            <div class="home-text">
                <h1>Nossa história</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. 
                    Aliquam etiam erat velit scelerisque in dictum non consectetur a. Imperdiet dui accumsan sit amet nulla facilisi.
                    Est ante in nibh mauris cursus mattis molestie.</p>
            </div>

            <div class="home-img">
                <img src="../assets/story-burger.png" alt="Hambúrguer">
            </div>
        </div>
    </section>
</body>
</html>